<p id="notice"><%= notice %></p>
<div class="col-md-7 col-md-offset-1 overbackground">
<h1>Inscripciones</h1>

<table class="table" >
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Curso</th>
      <th>Usuario</th>
      <th>Estado</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscriptions.each do |inscription| %>
      <tr>
        <td><%= inscription.date %></td>
        <td><%= @courses.find(inscription.course_id).name %></td>
        <td><%= @users.find(inscription.user_id).email %></td>
        <td><%= inscription.state%></td>
        <td><%= link_to 'Ver', inscription , class: "btn btn-default"%></td>
        <% if !current_user.admin?%>
        
        <td><%= link_to 'Editar', edit_inscription_path(inscription) , class: "btn btn-default"%></td>
        <td><%= link_to 'Borrar', inscription, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        <% end %>
        <%if current_user.admin?%>
          <td><%= link_to 'Aceptar', aceptar_inscription_path(inscription), method: :patch , class: "btn btn-default"%></td>
          <td><%= link_to 'Rechazar',  rechazar_inscription_path(inscription), method: :patch , class: "btn btn-default"%></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<% if !current_user.admin?%>
<%= link_to 'Inscribirse', new_inscription_path %>
<% end %>
