<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-1 overbackground">
<h1>Inscripciones</h1>

<table class="table" >
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Curso</th>
      <th>Usuario</th>
      <th>Estado</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscriptions.each do |inscription| %>
      <tr>
        <td><%= inscription.date %></td>
        <td><%= @courses.find(inscription.course_id).name %></td>
        <td><%= @users.find(inscription.user_id).email %></td>
        <td><%= inscription.state%></td>
        <td><%= link_to 'Show', inscription %></td>
        <td><%= link_to 'Edit', edit_inscription_path(inscription) %></td>
        <td><%= link_to 'Destroy', inscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<%= link_to 'New Inscription', new_inscription_path %>
