<p id="notice"><%= notice %></p>
<div class="col-md-7 col-md-offset-1 overbackground">
<p>
  <strong>Fecha:</strong>
  <%= @inscription.date %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @inscription.course_id %>
</p>



<p>
  <strong>Usuario:</strong>
  <%= @inscription.user_id %>
</p>
</div>


<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
