
<p id="notice"><%= notice %></p>
<div class="col-md-4 col-md-offset-1 overbackground">
<h1>Cursos</h1>


    <% @courses.each do |course| %>
      
        <div><h3><%= course.name %></h3></div>
        <div><%= course.description %></div>
        
        
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    <% end %>

<br>
</div>
<%= link_to 'New Course', new_course_path %>
